.footer {
  position: relative;
  background-color: $main-text-color;
  width: 100%;
  margin-top: -90px;
  border-start-start-radius: 100px;
  z-index: 1;
  
  &__content {
    @include pageGrid;
  }
  
  &__title {
    text-align: left;
    color: $white-page-color;
    grid-column: 1 / -1;
    margin-bottom: 48px;
    margin-top: 72px;

    @include onTablet {
      grid-column: 1 / 5;
      margin-bottom: 56px;
      margin-top: 130px;
    }

    @include onDesktop {
      grid-column: 1 / 6;
    }
  }

  &__form {
    padding: 10px;
    padding-top: 0;
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 5;
    }

    @include onDesktop {
      grid-column: 1 / 6;
      margin-bottom: 100px;
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 20px;
  }
  
  &__field {
    position: relative;
    width: 100%;
    height: 44px;
    line-height: 44px;
    padding-block: 30px;
  }

  &__label {
    position: absolute;
    z-index: 1000;
    left: 0px;
    font-size: 16px;
    top: 0;
    width: 100%;
    color: $white-page-color;
    opacity: 0.7;
    transition: $transition;
    cursor: text;
  }

  &__input {
    resize: none;
    background-color: $main-text-color;;
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 3px solid $white-page-color;
    opacity: 0.7;
    box-shadow: none;
    color: $white-page-color;
    font-size: 16px;

    &:focus {
      border-color: $white-page-color;
      opacity: 1;
    } 

    &:focus~label {
      opacity: 1;
    }
  }

  &__button {
    background: none;
    border: none;
    width: max-content;
    margin-top: 90px;
    position: relative;
    transition: all .2s ease;
    
    
    &:before {
      content: "";
      position: absolute;
      top: -64%;
      left: -6px;
      display: block;
      border-radius: 28px;
      background: rgba($brown-color, 0.8);
      width: 56px;
      height: 56px;
      transition: all .3s ease;
    }
  
    span {
      color: $white-page-color;
      position: relative;
      font-size: 16px;
      font-weight: 900;
      letter-spacing: .25em;
      text-transform: uppercase;
      vertical-align: middle;
    }
  
    svg {
      position: relative;
      top: 0;
      margin-left: 10px;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: $white-page-color;
      stroke-width: 2;
      transform: translateX(-5px);
      transition: all .3s ease;
    }
  
    &:hover {
      &:before {
        width: 110%;
        background: rgba($brown-color, 1);
      }
  
      svg {
        transform: translateX(0);
      }
    }
  
    &:active {
      transform: scale(.96);
    }
  }

  &__menu {
    margin-block: 20px;
    grid-column: 1 / -1;

    @include onDesktop {
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  
  &__logo {
    display: flex;
    margin: 20px 0;
    height: 28px;
    
    @include onDesktop {
      height: 40px;
    }
  }
  
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    @include onTablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    @include onDesktop {
      gap: 25px;
    }
  }

  &__item {
    margin-block: 10px;
  }
  
  &__link {
    padding: 3px;
    text-decoration: none;
    color: $white-page-color;
    transition: padding-bottom $transition;

    &:hover {
      border-bottom: 2px solid $white-page-color;
      padding-bottom: 8px;
    }
  }
}
