.header {
  
  position: relative;
  height: 893px;
  background-color: $header-bg-color;
  border-end-start-radius: 100px;
  @include onDesktop {
    height: 800px;
  }

  
  &__slideshow {
    width: 100%;
    height: 390px;
    margin: 0;
    border-end-start-radius: 100px;
    position: absolute;
    bottom: 0;
    right: 0;

    @include onTablet {
      height: 360px;
      right: 0;
    }

    @include onDesktop {
      height: 85%;
      width: 50%;
      left: 50%;
    }
  }
}

.slide {
  display: none;

  &__fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  &__image {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    border-end-start-radius: 100px;
    border: 2px solid $main-text-color;
    border-right: none;
    position: absolute;

    @include onTablet {
    object-position: 0 -150px;
    }

    @include onDesktop {
    object-position: center;
    border-top-left-radius: 100px;
    }
  }
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: $transition ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: $brown-color;
}

.dot {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color $transition ease;
}

.dot1 {
  left: 43%;

  @include onTablet {
    left: 45%;
  }
}

.dot2 {
  left: 50%;

  @include onTablet {
    left: 50%;
  }
}

.dot3 {
  left: 57%;

  @include onTablet {
    left: 55%;
  }
}

.active, .dot:hover {
  background-color: #717171;
}