.page__menu {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  transition: all $transition;
  opacity: 0.3;

  &--open {
    transform: translateY(0);
    opacity: 1;
  }
}

.menu {
  height: 100svh;
  margin: 0;
  padding: 0;
  background-color: $brown-color;
  
  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style: none;
    margin: 0;
    margin-top: 55px;
    padding: 5px;
  }
  
  &__link {
    text-decoration: none;
    color: $white-page-color;
    transition: padding-bottom $transition;

      &:hover {
        border-bottom: 2px solid $white-page-color;
        padding-bottom: 8px;
      }
  }
}