// Merriweather
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/merriweather/merriweather-regular-webfont.woff") format("woff"),
    url("../fonts/merriweather/merriweather-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/merriweather/merriweather-bold-webfont.woff") format("woff"),
    url("../fonts/merriweather/merriweather-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}


// Zilla Slab
@font-face {
  font-family: "Zilla Slab";
  src: url("../fonts/zilla_slab/zillaslab-regular-webfont.woff") format("woff"),
    url("../fonts/zilla_slab/zillaslab-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Zilla Slab";
  src: url("../fonts/zilla_slab/zillaslab-bold-webfont.woff") format("woff"),
    url("../fonts/zilla_slab/zillaslab-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
