@import "utils";
@import "fonts";
@import "typography";

@import 'blocks/header.scss';
@import 'blocks/top.scss';
@import 'blocks/header-top.scss';
@import 'blocks/header-bottom.scss';
@import 'blocks/menu.scss';
@import 'blocks/about-us.scss';
@import 'blocks/teachers.scss';
@import 'blocks/classes.scss';
@import 'blocks/map.scss';
@import 'blocks/footer.scss';
@import 'blocks/contact-us.scss';


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background:$white-page-color;
}

::-webkit-scrollbar-thumb {
  background: $brown-color;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6d4a3b;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: $white-page-color;
  font-family: 'Merriweather';
  color: $main-text-color;
  overflow-x: hidden;
}

.body-hidden {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
  height: min-content;
}

.container {
  padding: 20px;
  padding-block: 0;
  max-width: 1240px;
  margin: 0 auto;

  @include onTablet {
    padding: 41px;
    padding-block: 0;
  }

  @include onDesktop {
    padding: 54px;
    padding-block: 0;
  }
}

.block {
  position: relative;
  opacity: 0;
  transition: all 1s;
  
  &--up {
    top: -40px;
  }

  &--down {
    top: 40px;
  }
}
